#search-form {
    align-items: center; 
    display: flex;
    flex-direction: column;
    gap: 10px; 
    
  }
    .filters{
    align-items: center; 
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  label{
    color: #014421;
  }
  
  
  .search-bar {
   display:flex;
    flex-direction: row;
  }
  p
  {
    color: #014421;
    text-align: center;
  }
  h1
  {
    color:#014421;
    text-align: center;
    size: 60px;
  }
  body{
    background-color: #C2B280;

  }
  h2{
    color: #014421;
    text-align: center;
  }
  .footer-text
  {
    color: #014421;
    text-align: center;
    position:fixed;
    bottom:0;
    left: 45%;
  }